@import "../colors";

.payment {
    background-color: white;
    font-size: 1.2rem;
}

.payment__container {
    h1 {
        text-align: center;
        padding: 1rem;
        font-weight: 500;
        background-color: rgb(234, 237, 237);
        border-bottom: 1px solid lightgray;

        a {
            text-decoration: none;
        }
    }
}

.payment__section {
    display: flex;
    padding: 2rem;
    margin: 0 2rem;
    border-bottom: 1px solid lightgray;
}

.payment__title {
    flex: 0.2;
}

.payment__address,
.payment__items,
.payment__details,
.cardElement {
    flex: 0.8;
    font-size: 1.5rem;
}

.payment__details {
    form {
        max-width: 50rem;
        line-height: 3rem;
    }
    h4 {
        padding-bottom: 2rem;
    }
}

.payment__details > form > div > button {
    background: #3f7ce6;
}
.payment__details {
    form {
        button {
            background-color: $grayBlue;
            border-radius: 0.2rem;
            width: 100%;
            height: 3rem;
            border: 1px solid;
            font: 500 1.4rem Inter;
            border-color: $darkestBlue;
            color: $darkestBlue;

            &:hover {
                background-color: $blue;
            }
        }
    }
}
