$backgroundBlue: #035fa513;
$sigmaBlue: #289ad6;
$sigmaDarkerBlue: #1b75bb;
$lessDarkBlue: #024c85;
$veryDarkBlue: #04487c;

$lightGrayBlue: #f4f7fc;
$grayBlue: #dfe7f2;
$blue: #8fa4c3;
$darkerBlue: #586c91;
$darkestBlue: #283347;
