/*  
#289ad6
#1b75bb
*/

:root {
    --blue: #289ad6;
    --darkerBlue: #1b75bb;
    --veryDarkBlue: #023963;
    --lightGrey: #f5f4f4;
    --background: #f9f6f7;
    --buttonText: #e8ebec;
    --burntsienna: #e76f51;
    --hover: #98a59a;
    box-sizing: border-box;
}

.header {
    height: 8rem;
    display: flex;
    align-items: center;
    background-color: var(--lightGrey);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 18rem;
    object-fit: contain;
    margin: 2rem 4rem 2rem 1rem;
    object-fit: contain;
}

.header__search {
    display: flex;
    flex: 0.8;
    align-items: center;
    /* outline: none; */
}

.header__searchInput {
    font: 500 1.8rem Raleway;
    color: var(--veryDarkBlue);
    /* font: 400 16px; */
    height: 4rem !important;
    padding-left: 1rem;
    border: solid 1px var(--darkerBlue);
    width: 100%;
    outline: none;
}

.header__searchIcon {
    padding: 0.8rem;
    height: 4rem !important;
    width: 6rem !important;
    color: white;
    background-color: var(--darkerBlue);
}

.header__nav {
    flex: 0.3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 2rem;
    min-width: 30rem;
    max-width: 30rem;
}
.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    color: var(--darkerBlue);
}
.header__optionLine {
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 1rem;
}

.header__optionBasket {
    display: flex;
    align-items: center;
    color: var(--darkerBlue);
}

.header__basketIcon {
    padding: 0.5rem;
    height: 4rem !important;
    width: 4rem !important;
}

.header__basketCount {
    font-size: 2rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
}
